/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Open_Sans/opensans-light-webfont.eot');
  src: url('../fonts/Open_Sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Open_Sans/opensans-light-webfont.woff') format('woff'), url('../fonts/Open_Sans/opensans-light-webfont.ttf') format('truetype'), url('../fonts/Open_Sans/opensans-light-webfont.svg#open_sanslight') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Open_Sans/opensans-regular-webfont.eot');
  src: url('../fonts/Open_Sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Open_Sans/opensans-regular-webfont.woff') format('woff'), url('../fonts/Open_Sans/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/Open_Sans/opensans-regular-webfont.svg#open_sansregular') format('svg');
}
*/


h1,h2,h3,h4,h5 {
    color:#E65100;
    text-shadow:none;
}

h4{
	margin: -3px 0 -2px 0;
	 font-family: 'Roboto', sans-serif;
   font-weight: 500;
}

h3{
	margin: -5px 0 5px 0;
	text-shadow:none;
	color: #FFFFFF;
}

.ui-btn-icon-notext.ui-corner-all {
   /* -webkit-border-radius: .3125em;
    border-radius: .3125em;*/
}
.ui-title {
    color:#fff;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
}
.mc-text-center {
    text-align:center;
}
.mc-top-margin-1-5 {
    margin-top:1.5em;
}
h2.mc-text-danger,
h3.mc-text-danger  {
    color:red;
}

.ui-header{
	background-color:#E65100;
	 font-family: 'Roboto', sans-serif;
	    font-weight: 600;

}

.center-wrapper{
    margin:0 auto;
	margin-left:auto;
	margin-right:auto;
	align:center;
	text-align:center;
}


.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}



#btn-place-order,#directiontoSignIn{
	background-color: #333333;
	width: 100px;
	margin-top: 6px;
	font-size: 14px;
}

#ok-btn{
	background-color: #333333;
	border:none;
	width: 100px;

}
#btn-confirm{
	background-color: #333333;
	margin-top: 6px;
	font-size: 14px;
	width: 100px;
}

#btn-back{
	background-color: #444444;
	margin-top: 6px;
	font-size: 14px;
	width: 100px;
	color:#FFFFFF;
	}


#btn-submit,#btn-login-google{
	background-color:  #333333;
	font-size: 14px;
	border:none;
}

#orderTable th {
    border-bottom: 1px solid #d6d6d6;
    background-color:#FB8C00;
   font-weight:500;
    text-shadow:none;
    padding: 5px;
    color:#333333;
    padding-left: 10px;
}

/*#orderTable tr:nth-child(even) {
    background: #FFE0B2;
}
*/

#orderTable td{
	background-color:#FFD180;
	 color:#333333;
	text-shadow:none;
	padding: 5px;
	padding-left: 10px;
	 font-weight: 400;
}
#orderTable{
	 width: 100%;
	/* margin: -15px 0px -15px 0px;*/
}
#orderTable td{
	font-size:14px;
}
#orderTable .left {
    text-align: left;
}
#orderTable .right {
    text-align: right;
}

#orderTable .center{
	text-align: center;
}

#addQtyTable{

	padding: 10px 10px 0px 10px;
	text-shadow:none;
}

#addQtyTable th{
	font-weight: 400;
}

#popUpContainer{
	background-color: #F57C00;
}

#orderBatchdisplay{
	margin-top:5px;
	margin-bottom: -20px;
	color:#333333;
	text-align:center;
}

thead tr:first-child th:first-child {
   -moz-border-radius: 6px 0 0 0;
   -webkit-border-radius: 6px 0 0 0;
   border-radius: 6px 0 0 0;
}

thead tr:first-child th:last-child {
   -moz-border-radius: 0px 6px 0 0;
   -webkit-border-radius: 0px 6px 0 0;
   border-radius: 0px 6px 0 0;
}

tr:last-child td:first-child{
   -moz-border-radius: 0px 0px 0px 6px;
   -webkit-border-radius: 0px 0px 0px 6px;
   border-radius: 0px 0px 0px 6px;
}

tr:last-child td:last-child{
   -moz-border-radius: 0px 0px 6px 0px;
   -webkit-border-radius: 0px 0px 6px 0px;
   border-radius: 0px 0px 6px 0px;
}

.text-danger{
	color:red;
}

a:link{
	text-decoration: none;

}
.qty{
	float:right;
	color:#E65100;
}

#index{
	background-color: #eee;
}

.image_container {
    width: 100%;
    height: 100%;
    background: #eee;
    text-align: center;  
}

.image_container img {
    vertical-align: middle;
}

/*#signIn { 
    background-image: url('../img/dod.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
*/
#imgContainer{
	text-align: center;
	margin-top:18%;

}

#logInForm{
	text-align: center;
	max-width: 300px;
	
}

#orderTableContainer{
	text-align: center;
	max-width: 350px;
}


body,
input,
select,
textarea,
button,
.ui-btn {
	/*font-size: 1em;*/
	
	/*font-family:Arial, Helvetica, sans-serif;*/
	/* font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	 font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color:#424242;
}

.header{
	/* font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	 font-family: 'Roboto', sans-serif;
	 font-weight: 500;
}

/*.footer .ui-footer{
	background-color: #E65100;
}*/

.ui-icon-back{
	background-color: #333333;
}

.ui-content{
	margin-top:-10px;
}


#addQuantity{
	background-color: #eee;


}

#popUpFooter, #popUpHeader{
	background-color: #E65100;
}

#signIn{
	background-color: #E65100;
}

#signPageBody{
	/*background: url(../img/t1.jpg);
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;*/
}

.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}

#orderTable td.vendorName {
	
	font-weight: 400;
	background-color: #FFB74D;
}

#addQtyTable td{

}

#addQtyTable th {
padding-top: 50px;

}